
.container {
  display: flex;
  width: 100%;
  
  .sections {
    width: 100%;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .orderButton {
    width: 600px; 
    height: 160px;
    margin-left: 20px;
  }
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  
    .sections {
      width: 100%;
    }

    .orderButton {
      width: 100%; 
      height: auto;
      margin-left: 0;
      margin-top: 20px;
    }
  }
}

@media (max-width: 450px) {
  .container {
    .sections {
      width: 100%;
  
      .header {
        align-items: start;
        justify-content: baseline !important;
        flex-direction: column;
  
        p {
          text-align: left !important;
          margin-top: -5px !important;
          margin-bottom: 15px !important;
        }
      }
    }
  }
 
}