
.container {
  display: flex;
  width: 100%;

  .section {
    background: white;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
    padding: 20px;
  }

  .sections {
    width: 100%;

    
  }
  

  .orderButton {
    width: 350px;
    background: #1fa71f;
    height: 59px;
    color: white;
    font-size: 19px;
    text-align: center;
    padding-top: 12px;
    border-radius: 11px;
    cursor: pointer;
  }
}