@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(248, 248, 248) !important;
}

.line-clamp-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}